html, body {
  margin: 0;
  padding: 0;
}

/* header */
header {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

h1 {
  width: 520px;
  font-size: 85px;
  font-family: "Amatic SC", serif;
  color: white;
}

h1:active {
  position: relative;
  top: 3px;
}

#buttonMenu, #closeMenu {
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  font-size: 25px;
}

.adminMenu {
  width: 502px;
  height: 50px;
  background-color: black;
  padding: 0 10px;
  margin-top: 90px;
  border-radius: 5px;
  font-weight: bold;
}

.adminArticle {
  width: 400px;
  margin-top: 25px;
  margin-left: 25px;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

header a {
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

/*Main page */
.splashinfos {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./img/splash.jpg");
}

.splashinfos .filter {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  font-family: "News cycle", serif;
}

.splashinfos .filter p {
  text-align: center;
  width: 800px;
  color: white;
  padding-top: 5%;
  margin: 0 auto;
  font-family: "News cycle", serif;
  letter-spacing: 3px;
  font-size: 35px;
  line-height: 50px;
}

.admin, .adminMenu span {
  font-size: 25px;
  color: white;
  font-family: "News cycle", serif;
}

.splashinfos span {
  color: white;
  font-family: "News cycle", serif;
}

.nav {
  color: white;
  height: 100%;
  width: 400px;
  transition: right linear 1s;
  background-color: black;
  position: fixed;
  right: -400px;
  z-index: 1;
}

.nav2 {
  color: white;
  height: 100%;
  width: 350px;
  transition: right linear 1s;
  background-color: black;
  position: fixed;
  right: 0px;
  z-index: 1;
  overflow: scroll;
}

.navContainer {
  width: 250px;
  margin: 100px auto;
  font-family: "News Cycle", serif;
}

.nav h3, .nav2 h3, .nav h3 a, .nav2 h3 a {
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.nav ul, .nav2 ul {
  list-style: none;
  width: 300px;
  margin: 10px auto;
  padding: 0;
}

.nav a, .nav2 a {
  color: white;
  text-decoration: none;
}

.navContainer h4 {
  margin-top: 50px;
}

#closeMenu {
  float: right;
  padding: 25px;
}

.contactButton:hover, #submitLogin:hover, .admin:hover, .splashinfos .filter .headerMore p:hover, .nav a:hover, .nav2 a:hover, #buttonMenu:hover, #closeMenu:hover, header a:hover {
  color: rgba(255, 255, 255, 0.7);
  transition: color linear 0.2s;
  transition: transform linear 0.3s;
  transform: scale(1.3);
}

.contactButton:active, #submitLogin:active, .admin:active, .splashinfos .filter .headerMore p:active, .nav a:active, .nav2 a:active, #buttonMenu:active, #closeMenu:active, header a:active {
  position: relative;
  top: 3px;
}

.main a {
  text-decoration: none;
  width: 95px;
  box-shadow: none;
}

.more {
  width: 104px;
  padding: 10px;
  border-radius: 3px;
  background-color: black;
  color: white;
  margin: 50px auto;
  border-radius: 5%;
  letter-spacing: 3px;
  font-weight: bold;
}

.main a:hover, .more:hover {
  transition: transform linear 0.3s;
  transform: scale(1.1);
}

.main a:active {
  position: relative;
  top: 3px;
}

.color1, .color2 {
  padding: 250px 0;
  -webkit-clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
  clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
}

.color1 {
  background-color: #232830;
  color: silver;
}

/*article*/
.main {
  width: 100%;
}

.article {
  width: 900px;
  margin: 0 auto;
  font-family: "News cycle", serif;
  line-height: 30px;
  font-size: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 850px;
}

.img1 {
  width: 300px;
  height: auto;
  border-radius: 5%;
}

.right {
  width: 500px;
  text-align: justify;
}

.indexTitle {
  width: 525px;
  margin: 0 auto;
  float: right;
}

.top h2, .top h5 {
  margin: 0;
}

.texte1, .texte2 {
  text-align: justify;
}

.images {
  margin: 50px auto;
  width: 850px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.images img {
  width: 360px;
}

.signature {
  float: right;
  font-weight: 700;
}

/* commentaires */
.comments {
  width: 900px;
  margin: 50px auto;
  background-color: white;
  padding: 25px;
  border: 2px solid silver;
  border-radius: 5px;
}

.comments h2 {
  color: black;
}

/*Formulaire article*/
.articleForm {
  margin: 100px auto;
  width: 900px;
  text-align: center;
}

.articleForm input, .articleForm textarea {
  width: 600px;
  margin: 20px auto;
  min-height: 50px;
}

.resumeInput {
  height: 150px;
  padding: 0;
}

.articleForm textarea {
  width: 620px;
  box-sizing: border-box;
  border: 2px solid #C6C6C6;
  padding: 10px;
  border-radius: 5px;
  background-color: #FBFBFB;
  resize: none;
}

.textInput {
  height: 300px;
}

/* Page Login */
.loginForm,.contactForm {
  width: 500px;
  margin: 150px auto;
  font-family: "Amatic SC", serif;
}

.loginForm input, .contactForm input {
  width: 500px;
  margin: 10px auto;
  height: 50px;
  font-family: "Amatic SC", serif;
  font-size: 30px;
  font-weight: bold;
}

.contactForm textarea {
  width: 515px;
  height: 300px;
  box-sizing: border-box;
  border: 2px solid #C6C6C6;
  padding: 10px;
  border-radius: 5px;
  background-color: #FBFBFB;
  resize: none;
}

#submitLogin, .contactButton {
  text-decoration: none;
  box-shadow: none;
  border: none;
  color: white;
  background-color: #F7A24D;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px auto;
  width: 150px;
  float: right;
}

#loginHeader {
  font-size: 40px;
}

/*footer*/
footer {
  background-color: black;
  color: white;
  width: 100%;
  margin-top: 250px;
}

footer p {
  font-size: 18px;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  * {
    padding: 0;
    margin: 0;
  }

  .splashinfos .filter p {
    text-align: center;
    width: 50%;
    letter-spacing: 2px;
    font-size: 30px;
    line-height: 40px;
    padding : 5%;
    margin: 0;
  }

  .top {
    width: 500px;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
  }


  .article {
    width: 100vh;
    margin: 0 auto;
    line-height: 30px;
    font-size: 20px;
  }

  .top {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items:flex-start;
    width: 90vh;
  }

  .right {
    width: 50%;
  }

  .comments {
    width: 600px;
  }

  .images {
    margin: 50px auto;
    width: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .images img {
    width: 260px;
    margin-bottom: 50px;
  }

  .nav {
    color: white;
    height: 100%;
    width: 100vh;
    right: 0;
    background-color: black;
    display: none;
    z-index: 1;
  }
  .nav2 {
    width: 100vh;
  }

  header {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    align-content:flex-start;
  }

  .splashinfos {
    height: 100vh;
    width: 100vh;
  }

  .indexTitle {
    float: none;
    margin: 0;
  }

  .more {
    margin: 0;
  }

  h1 {
    width: 50%;
  }

  .texte1, .texte2 {
    width: 50%;
  }

  .comments {
    width: 45%;
    margin: 0;
  }

  .fb-comments {
  width: 50%;
  }
  .signature {
float: left;
  }
}
